<!-- <div class="alert-container" [ngClass]="type">
  <div class="alert-wrapper">
    <div class="icon-wrapper" [class.hasHeader]="hasHeader">
      <mat-icon class="alert-icon">info</mat-icon>
    </div>
		<div class="content-wrapper">
			<div class="header" *ngIf="config.header">Test</div>
			<ul class="description" [class.unlist]="!isList">
				<li *ngFor="let message of config.message">{{message}}</li>
			</ul>
		</div>
		<mat-icon>close</mat-icon>
  </div>
</div> -->

<span>snackbar works</span>