.alert-container {
  display: flex;
  width: 640px;
  min-height: 48px;
  padding: 6px 16px;
  gap: 4px;
}

.alert-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 12px;

  .icon-wrapper {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;
  }

  .icon-wrapper.hasheader {
    align-items: flex-start;
  }

  .alert-icon {
    width: var(--font-size-xl);
    height: var(--font-size-xl);
    font-size: var(--font-size-xl);
    aspect-ratio: 1/1;
  }

	.content-wrapper {
		display: flex;
		flex: 1 0 0;
		flex-direction: column;
		gap: 4px;

		.header {
			line-height: var(--line-height-sm);
			font-weight: var(--font-weight-medium);
			font-feature-settings: 'case' on;
		}

		.description {
			line-height: var(--line-height-sm);
			font-weight: var(--font-weight-book);
			font-feature-settings: 'case' on;
			/* ul and li bullt padding overrides*/
			margin: 0;
			padding-left: 1rem;
		}

		.description.unlist {
			list-style-type: none;
			padding: 0;
		}

		.action-wrapper {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}
}

.alert-container.primary {
	border-radius: var(--radius-md);
	border: 1px solid var();
	/* background: ;
	box-shadow: ;
	color: ; */
	font-size: var(--font-size-sm);
}