<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    @for(column of displayedColumns; track column;) { @if(column == 'user') {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        <app-info-card title="" [descriptions]="[element[column]]"></app-info-card>
      </td>
    </ng-container>
    } @else {
    <ng-container [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        <app-info-card title="Schedule" [descriptions]="[element[column].schedule]"></app-info-card>
        @for(break of element[column].breaks; track break) {
					<app-info-card title="Break" [descriptions]="[break]"></app-info-card>
				}
      </td>
    </ng-container>
    } }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
