.table-wrapper {
  padding: 15px;
  border: 1px solid var(--primary-500);
  border-radius: 5px;
  min-height: 300px;
}

.mat-column-user,
.mat-column-date {
  max-width: 150px;
  flex: 0 0 150px; /* Optional: to ensure it doesn't grow beyond 150px */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.badge-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
