// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

:root {
  mat-form-field {
    --mat-sys-surface-variant: transparent;
    width: -webkit-fill-available;
    font-family: var(--mat-form-field-container-text-font, var(--mat-sys-body-small-font) Roboto);
    line-height: var(--mat-form-field-container-text-line-height, var(--mat-sys-body-small-line-height));
    font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-small-size));
    letter-spacing: var( --mat-form-field-container-text-tracking,var(--mat-sys-body-small-tracking));
    font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-small-weight));
    height: 70px;
    margin-bottom: -22px;

    // Input override
    @include mat.form-field-overrides(
      (
        container-text-font: 8px,
        subscript-text-font: 8px,
        outlined-label-text-font: 8px,
        filled-label-text-font: 8px,
      )
    );
    .mat-mdc-form-field-focus-overlay {
      background-color: transparent;
    }

    // Datepicker override
    .mdc-text-field--filled .mdc-floating-label {
      font-family: var(--mat-form-field-container-text-font, var(--mat-sys-body-small-font) Roboto);
      line-height: var(--mat-form-field-container-text-line-height,var(--mat-sys-body-small-line-height));
      font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-small-size));
      letter-spacing: var(--mat-form-field-container-text-tracking,var(--mat-sys-body-small-tracking));
      font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-small-weight));
    }
  }

  // Dropdown option override
  mat-select,
  mat-option.mat-mdc-option {
    // font-family: var(--mat-form-field-container-text-font, var(--mat-sys-body-small-font) Roboto);
    line-height: var(--mat-form-field-container-text-line-height,var(--mat-sys-body-medium-line-height));
    font-size: var(--mat-form-field-container-text-size, var(--mat-sys-body-medium-size));
    letter-spacing: var(--mat-form-field-container-text-tracking, var(--mat-sys-body-medium-tracking));
    font-weight: var(--mat-form-field-container-text-weight, var(--mat-sys-body-medium-weight));
  }

  mat-drawer-content {
    padding: 15px;
  }

  //mat menu override
  .mat-mdc-menu-panel {
    background-color: var(--primary-100);
  }

  // mat spinner override
  @include mat.progress-spinner-overrides((
    active-indicator-color: var(--primary),
  ));
}

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        tertiary: mat.$red-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

.snackbar-override {
  .mat-mdc-snackbar-surface {
    background-color: transparent !important;
    .mdc-snackbar__label {
      padding: 0;
    }
  }
}

// --p: 1rem;
// --h5: calc(var(--p) * var(--font-scale));
// --h4: calc(var(--h5) * var(--font-scale));
// --h3: calc(var(--h4) * var(--font-scale));
// --h2: calc(var(--h3) * var(--font-scale));
// --h1: calc(var(--h2) * var(--font-scale));
// --small: calc(var(--p) / var(--font-scale));

.h1-title {
  font-size: 2rem;
  font-weight: 500;
}
.h3-title {
  font-size: 1.5rem;
  padding: 2px 10px;
}

.underlined {
  -webkit-text-decoration: underline var(--accent) solid 4px;
  text-decoration: underline var(--accent) solid 0.2em;
  text-underline-offset: 1px;
  text-decoration-skip-ink: none;
}
// .underlined {
//   font-weight: 400;
//   z-index: 5;
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-end;
//   width: fit-content;
// }
// .underlined::before {
//   content: '';
//   height: 50%;
//   width: 100%;
//   display: block;
//   z-index: -5;
//   opacity: 30%;
//   position: absolute;
//   transition: all 0.3s ease;
//   background: linear-gradient(180deg, transparent 50%, var(--accent) 50%);
// }

// https://www.realtimecolors.com/?colors=140709-fcf6f6-c25567-98dabf-70a5cc&fonts=Inter-Inter
// https://www.realtimecolors.com/?colors=07040e-f8f6fd-754acd-e397b7-d8727d&fonts=Inter-Inter
